body {
    font-family: sans-serif;
    font-size: 22px;
    color: #FFCC00;
    background-color: #5C1F00;
  }
  
  h1 {
    font-size: 54px;
  }
  
  h2 {
    font-size: 48px;
  }
  
  h3 {
    font-size: 36px;
  }
  